h3 No account? Register now!

form action="/register" method="post"
input type="text" placeholder="username" name="username"/
input type="text" placeholder="password" name="password"/
input type="text" placeholder="confirm password" name="confirm_password"/
input type="submit" value="register"/

h3 Already have an account? Log in here

form action="/login" method="post"
input type="text" placeholder="username" name="username"/
input type="text" placeholder="password" name="password"/
input type="submit" value="login"/
