h3 Inget konto? Registrera dig

form action="/register" method="post"
input type="text" placeholder="username" name="username"/
input type="text" placeholder="password" name="password"/
input type="text" placeholder="confirm password" name="confirm_password"/
input type="submit" value="register"/

h3 Har du redan ett konto? Logga in

form action="/register" method="post"
input type="text" placeholder="username" name="username"/
input type="text" placeholder="password" name="password"/
input type="submit" value="login"/
